<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Frada Joinville</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style1.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </head>

    <style>
      #cbc{
        background-color: rgb(0, 151, 133);
      }
    </style>
    <body>
      <!-- <header><img src="/src/papeldeparede.png"></header> -->
        <!-- <header class="navbar"> -->

          <div>
            <!-- <header id="cbc" style="background-image: url(/src/papeldeparede.png);"> -->
            <header id="cbc" >
              <div class="container">
                <div class="row">
                  <div class="col-auto">
                    <img class="logo" src="/src/logo.png" alt="logo">
                  </div>
                  <div class="col-auto align-self-start">
                    <a class="cta" href="/login"><button>Login</button></a>
                    <a class="cta" href="/usuarioNovo"><button>Registro</button></a>
                  </div>
                </div>
              </div>
            </header>
          </div>

          <!-- <nav class="navbar navbar-expand-sm fixed-top navbar-light">
            <div class="container">
              <a class="navbar-brand" href="#"><img class="logo align-self-start" src="/src/logo.png"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Registro</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav> -->

          <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img class="logo align-self-start" src="/src/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Registro</a>
                </li>
              </ul>
            </div>
          </nav> -->
          <!-- <div class="container"> -->
            <!-- <div class="row"> -->
              <!-- <div class="col-2">
                <img class="logo align-self-start" src="/src/logo.png" alt="logo">
              </div>
              <div class="col-auto">
                <a class="cta" href="/login"><button>Login</button></a>
                <a class="cta" href="/usuarioNovo"><button>Registro</button></a>
              </div>
            </div> -->
          <!-- </div> -->
        <!-- </header> -->
        <div class="container">
            <img src="images/animal1.png">

        </div>
        
        <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">Frada Joinville</h1>
                <br>
              <h3>Endereço:</h3>
              
              <address>
                Estrada Blumenau - Vila Nova, Joinville - SC, 89237-820<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Mande-nos um e-mail</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Legal</h2>
                <ul class="nav__ul">
                  <li>
                    <a href="#">Terms of Use</a>
                  </li>
                </ul>
              </li>
            </ul>
            
            <div class="legal">
              <p>&copy; Todos direitos reservados 2022.</p>

            </div>
          </footer>

    </body>
</html>
