<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styleLogin1.css">
    <title>Formulario de Cadastro de Funcionario</title>
  </head>
  <div>
    <header>
      <img class="logo" src="/src/logo.png" alt="logo">
      <a class="cta" href="/login"><button>Login</button></a>
    </header>
  </div>


  <body>
    <!-- Code -->
    
        <div class="conteiner">
          <div class="row1">
            <div>
              <h1>Cadastro de funcionario!</h1><br>
              <form action="<%= action %>" method="POST" class="row g-3 needs-validation" novalidate>
                <div class="col-md-12 position-relative">
                  <label for="validationTooltip01" class="form-label">Nome</label>
                  <input type="text" name="edtNomeFuncionario" value="<%= funcionario.nomeFuncionario %>" class="form-control" id="validationTooltip01"  required>
                  <div class="valid-tooltip">
                  </div>
                </div>
                <div class="col-md-12 position-relative">
                  <label for="validationTooltip07" class="form-label">Senha</label>
                  <input  type="password" name="edtSenhaFuncionario" value="<%= funcionario.senhaFuncionario %>"  class="form-control" id="validationTooltip07"  required>
                  <div class="valid-tooltip">
                  </div>
                <div class="col-md-12 position-relative">
                  <label for="exampleInputEmail9" class="form-label">ID do Funcionario</label>
                  <input type="text" name="edtUsuFuncionario" value="<%= funcionario.usuFuncionario %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text"></div>
                </div>
                </div>
                <div class="col-8">
                  <tr>
                    <td><a href="/loginFuncionario"> <button class="btn btn-primary"> Cancelar </button>  </a></td>
                    <td><button type="submit" value="Salvar" class="btn btn-primary">Cadastrar</button></td>
                  </tr>
                </div>
              </form>
            </div>
          </div>
        </div>
    
    <footer class="footer">
      <div>
        <div class="footer__addr">
          <h1 class="footer__logo">Frada Joinville</h1>
          <address>
            Estrada Blumenau - Vila Nova, Joinville - SC, 89237-820<br>
                
            <a class="footer__btn" href="mailto:example@gmail.com">Mande-nos um e-mail</a>
          </address>
          <ul class="footer__nav">
            <li class="nav__item">
              <h2 class="nav__title">Media</h2>
        
              <ul class="nav__ul">
                <li>
                  <a href="#">Online</a>
                </li>
  
              </ul>
            </li>
            
            <li class="nav__item nav__item--extra">
              <h2 class="nav__title">Technology</h2>
              
              <ul class="nav__ul nav__ul--extra">
                
                <li>
                  <a href="#">Software Design</a>
                </li>

                <li>
                  <a href="#">Artificial Intelligence</a>
                </li>
                
                
              </ul>
            </li>
            
            <li class="nav__item">
              <h2 class="nav__title">Legal</h2>
              
              <ul class="nav__ul">
                
                <li>
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </li>
          </ul>
              <div class="legal">
                 <p>&copy; Todos direitos reservados 2022.</p>

              </div>
        </div>
      </div>
    </footer>
    <!-- End Code -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>