<html>
    <form action="/posts" method="post" enctype="multipart/form-data" >
        <input  type="file" name="file"/>
        <button  type="file" class="btn btn-primary" name="file" ><a>Enviar</button></a></button>
        </form>
</html>