<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styleLogin1.css">
    <title>Sistema de Adoção - Login</title>
  </head>
  <div>
    <header>
      <img class="logo" src="/src/logo.png" alt="logo">
    </header>
  </div>


  <body>
    <!-- Code -->
    
    <div class="conteiner">
      <div class="row">
        <h2>Identifique-se</h2>
        <form action="/login" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="edtUsuario" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" name="edtSenha" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary" value="Entrar" ><a href="/usuarioNovo">Cadastrar</a></button>
          <button type="submit" class="btn btn-primary" value="Entrar" ><a>Entrar</button></a></button>
        </form>
      </div>
    </div>
    
    <footer class="footer">
      <div>
        <div class="footer__addr">
          <h1 class="footer__logo">Frada Joinville</h1>
          <address>
            Estrada Blumenau - Vila Nova, Joinville - SC, 89237-820<br>
                
            <a class="footer__btn" href="mailto:example@gmail.com">Mande-nos um e-mail</a>
          </address>
          <ul class="footer__nav">
            <li class="nav__item">
              <h2 class="nav__title">Media</h2>
        
              <ul class="nav__ul">
                <li>
                  <a href="#">Online</a>
                </li>
  
              </ul>
            </li>
            
            <li class="nav__item nav__item--extra">
              <h2 class="nav__title">Technology</h2>
              
              <ul class="nav__ul nav__ul--extra">
                
                <li>
                  <a href="#">Software Design</a>
                </li>

                <li>
                  <a href="#">Artificial Intelligence</a>
                </li>
                
                
              </ul>
            </li>
            
            <li class="nav__item">
              <h2 class="nav__title">Legal</h2>
              
              <ul class="nav__ul">
                
                <li>
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </li>
          </ul>
              <div class="legal">
                 <p>&copy; Todos direitos reservados 2022.</p>

              </div>
        </div>
      </div>
    </footer>
    <!-- End Code -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>