<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frada Joinville</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <style>
    .logo{
      max-height: 120px;
    }
    body{
      background-image: url(/src/papeldeparede.png);
      background-color: rgb(0, 151, 133);
      margin-bottom: 2%;
    }
    .footer{
      margin-top: 2%;
    }
    #cardAnimal{
      /* width: 36rem; */
      height: 36rem;
    }
    #cardAnimalBody{
      height: 100%;
    }
    #rowCard{
      height: 100%;
    }
    #x{
      color: coral;
    }
    #heart{
      color: red;
    }
    #foto{
      max-height: 444px;
    }
    #infos{
      margin-top: 10%;
    }
    #centro{
      transform: translate(-50%,-40%)!important;

      top: 40%!important;
      
      left: 50%!important;
    }
    #rodape{
      margin-left: 6%;
      margin-right: 6%;
      margin-bottom: 2%;
    }
    #id{
      margin-left: 3%;
      margin-top: 2%;
    }
    #usu{
      margin-left: 3%;
      margin-right: 3%;
    }
    #senha{
      margin-left: 3%;
      margin-right: 3%;
    }
    #entrar{
      margin-bottom: 3%;
      margin-left: 3%;
    }
    #cadastrar{
      margin-bottom: 3%;
      margin-left: 3%;
      color: white;
      text-decoration: none;
    }
  </style>
  <body>
    <!-- <div class="container">
        <div class="row">
            <div class="col-auto">
            <img class="logo" src="/src/logo.png" alt="logo">
            </div>
            <div class="col-auto align-self-start">
            <a class="cta" href="/login"><button>Login</button></a>
            <a class="cta" href="/usuarioNovo"><button>Registro</button></a>
            </div>
        </div>
    </div> -->
    <header class="navbar navbar-dark bd-navbar">
        <nav class="container"><img class="logo" src="/src/logo.png" alt="logo">
          <div class="offcanvas-lg offcanvas-end flex-grow-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            
      
          </div>
        </nav>
    </header>
    <div class="container">
      <!-- <div id="centro" class="card align-self-center"> -->
      <div id="centro" class="card position-absolute top-50 start-50 translate-middle">
        <div id="rowCard" class="row">
            <h2 id="id">Identifique-se</h2>
            <form action="/loginFuncionario" method="post">
                <div id="usu" class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="edtFuncionario"  aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div id="senha" class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="edtFuncionarioSenha"  id="exampleInputPassword1">
                </div>
                <button id="entrar" type="submit" class="btn btn-primary" value="Entrar" ><a>Entrar</button></a></button>
                <button id="cadastrar" type="submit" class="btn btn-primary" value="Entrar" ><a style="color: white;text-decoration: none;" href="/funcionarioNovo">Cadastrar</a></button>
            </form>
          <!-- <div class="col-3">

          </div>
          <div class="col-6">
            
          </div>
          <div class="col-3">
              
          </div> -->
        </div>
      </div>
      <footer id="rodape" class="footer fixed-bottom">
        <div class="card align-self-center">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="footer__addr">
                  
                  <h3 class="footer__logo">Frada Joinville</h3>
                    <!-- <br> -->
                  <h5>Endereço:</h5>
                  <address>
                    Estrada Blumenau - Vila Nova, Joinville - SC, 89237-820<br>
                    <a class="footer__btn" href="mailto:example@gmail.com">Mande-nos um e-mail</a>
                  </address>
                </div>
              </div>
              <div class="col">
                <div class="float-end">
                  <ul class="footer__nav">
                    <li class="nav__item">
                      <h5 class="nav__title">Legal</h5>
                      <ul class="nav__ul">
                        <li>
                          <a href="#">Terms of Use</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="legal">
              <p style="margin-bottom:0px;">&copy; Todos direitos reservados 2022.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  
</html>